<!DOCTYPE html>
<html>
<head>
	<title>Cross communication spike</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-app="spike">
	<div class="container">

		<div class="well">
			<h1>Cross communication spike</h1>
			<p>Different techniques about communicating across different components (i.e. directives and controllers)</p>

			<h2>Communicating with Services</h2>
		</div>

		<div ng-controller="cartWidgetController">
			<div class="well">
				<span class="badge pull-right">Items: {{totalItems}}</span>
				Demo shopping cart
			</div>
		</div>

		<div ng-controller="itemsController">
			<div class="well">
				Items:
				<ul>
					<li ng-repeat="item in items">
						{{item}}
						<span class="btn btn-small btn-info" ng-click="addToCart(item)">Add to cart</span>
					</li>
				</ul>
				<div>{{cartItems}} items in cart</div>
			</div>
		</div>
	</div>

	<script>
		"use strict";

		var app = angular.module("spike", []);

		app.factory("cartService", function() {
			var callbacks = [];
			var items = 0;
			var addItemToCart = function(item) {
				items++;
				var i = 0;
				for (var i = 0; i < callbacks.length; i++) {
					callbacks[i](items);
				}
			};
			var onItemsAdded = function (callback) {
				callbacks.push(callback);
			};

			return {
				onItemsAdded: onItemsAdded,
				addItemToCart: addItemToCart,
			};
		});

		app.controller("itemsController", function ($scope, cartService) {
			$scope.cartItems = 0;
			$scope.items = ["Laptop", "Desktop", "XBox", "Tablet"];
			$scope.addToCart = cartService.addItemToCart;

			// subscribe to items added callback
			cartService.onItemsAdded(function (items) {
				$scope.cartItems = items;
			});
		});

		app.controller("cartWidgetController", function($scope, cartService) {
			$scope.totalItems = 0;
			cartService.onItemsAdded(function (items) {
				$scope.totalItems = items;
			});
		});


	</script>
</body>
</html>