<!DOCTYPE html>
<html>
<head>
	<title>datepicker spike</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="moment-with-locales.min.js"></script>
	<script src="bootstrap-datepicker.js"></script>
	<link href="bootstrap-datepicker.css" rel="stylesheet">
</head>
<body ng-app="spike">
	<div id="spike-header">
		<h1>Datepicker spike</h1>
		<p>Verify correct behavior of datepicker control</p>
	</div>

	<div ng-controller="spikeController">

	</div>
	
	<div class="container">
		<div ng-controller="spikeController">
			<div class="well">
				<div>Date: {{now}}</div>
				<form role="form" class="form-horizontal" style="width:400px">
					<div class="form-group">
						<label for="Date">Data</label>
						<input type="text" id="Date" class="form-control datepicker" ng-model="data.date" />
						<span ng-show="data.date_error" class="text-danger">{{data.date_error}}</span>
					</div>
					<div>
						<span class="btn btn-default" ng-click="resetForm()">Reset</span>
						<span class="btn btn-primary" ng-click="sendForm()">Send</span>
					</div>
				</form>
				<br />
				<div ng-show="result">
					Result: {{result}}
				</div>
			</div>

		</div>
	</div>	

	<script>
		"use strict";
		
		function initializeDatepicker(element)
		{
			(element || $("input.datepicker")).datepicker({
				todayBtn: "linked",
				language: "it",
				todayHighlight: true,
				autoclose: true,
			});
		};
		

		var app = angular.module("spike", []);

		app.controller("spikeController",
			function ($scope) {
				$scope.test = "ok";
			}
		);
		
		app.controller("spikeController",
			function ($scope) {
			
				$scope.data = {};
				$scope.result = null;

				$scope.now = moment().toString();
				
				initializeDatepicker();
				
				var sentCount = 0;
				$scope.sendForm = function () {
					sentCount++;
					$scope.result = "(" + sentCount + ") " + ($scope.data.fruit || "(none)");
				}

				$scope.resetForm = function () {
					$scope.data = {};
					$scope.data.date = moment().format("L");
				};

			}
		);

	</script>
	
	<style>
		#spike-header {
			position: relative;
			padding: 10px 5px;
			color: #4e0000;
			text-align: center;
			text-shadow: 0 1px 0 rgba(20,20,20,.3);
			background-color: #ff9000;
			background-image: linear-gradient(to bottom, #ff9000 0, #ffd800 100%);
			margin-bottom:10px;	
		}
		#spike-header h1 {font-weight:bold}
		#spike-header h2 {font-weight:bold}
	</style>
</body>
</html>