<!DOCTYPE html>
<html>
<head>
	<title>Angular Amount Input Field Spike</title>
	<style>
		#spike-header {
			position: relative;
			padding: 10px 5px;
			color: #4e0000;
			text-align: center;
			text-shadow: 0 1px 0 rgba(20,20,20,.3);
			background-color: #ff9000;
			background-image: linear-gradient(to bottom, #ff9000 0, #ffd800 100%);
			margin-bottom:10px;	
		}
		#spike-header h1 {font-weight:bold}
		#spike-header h2 {font-weight:bold}
		*[readonly] { background-color: #eee; border:1px solid #ccc; padding:2px 1px}
	</style>
</head>
<body ng-app="spike">
	<div id="spike-header">
		<h1>Angular Amount Input Field Spike</h1>
		<p>
		Create aAngularJS directive to fill an input field with amount value.
		<br>It must be localizable.
		<br>It must be able to make some simple calculation.
		<br>It must not accept thousand separator character.
		<br>It must have a placeholder with right amount format.
		</p>
	</div>

	<div class="container">
		<div ng-controller="spikeController">
			<div class="well">
				<form role="form" class="form-horizontal" style="width:400px">
					<div class="form-group">
						<label class="control-label">culture</label>
						<select ng-options="locale.id as locale.name for locale in locales" ng-model="selectedLocaleId" ></select>
					</div>
					<div>
						<div>Locale: {{locale.id}} / {{locale.name}} </div>
						<div>Decimal separator: <input type="text" style="width:20px" readonly="readonly" ng-model="locale.decimalSeparator"></div>
						<div>Thousand separator: {{locale.decimalSeparator}}</div>
					</div>
					<div class="form-group">	
						<label class="control-label">Amount 1</label>
						<spike:amount-field placeholder="'0,00'" decimal-separator="','" thousand-separator="'.'" amount="recordAmount" ></spike:amount-field>
					</div>
					<div class="form-group">	
						<label class="control-label">Amount 2</label>
						<spike:amount-field placeholder="'0.00'" decimal-separator="'.'" thousand-separator="'.'" amount="amount_2" ></spike:amount-field>
					</div>
					<div class="form-group">
						<label>$scope.amount</label>
						<input type="text" readonly="readonly" ng-model="recordAmount" />
					</div>
					<div class="form-group">
					
					</div>
					<div class="form-group">
						<input type="text" id="setValue" ng-model="valueToSet"> <a href="" ng-click="setValue()">set value</a>				
					</div>
					<div>
						<span class="btn btn-default" ng-click="resetForm()">Reset</span>
						<span class="btn btn-primary" ng-click="sendForm()">Send</span>
					</div>
				</form>
				
				<div>step 1: input with value binded to controller: ok</div>
				<div>step 2: input with configurable parameters</div>
				<div>step 3: evaluation of field after some seconds or on exit</div>		
				<div>step 4: hidden field with original input, used for fill the input when selected a successive time</div>
				<br />
				<div ng-show="result">
					Result: {{result}}
				</div>
			</div>

		</div>
		
		Unit test: <a href="http://blog.revolunet.com/blog/2013/12/05/unit-testing-angularjs-directive/">http://blog.revolunet.com/blog/2013/12/05/unit-testing-angularjs-directive/</a>
		
	</div>	
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
	<script src="i18n/angular-locale_en-us.js"></script>
	<script>
	var locale = JSON.parse(localStorage.getItem('locale'));
	if(locale) {
		document.write('<script src="i18n/angular-locale_' + locale + '"></scr' + 'ipt>');
		}
	</script>
	<script>
		"use strict";

		var app = angular.module("spike", []);

		// set AngularJS locale...
		
		app.controller("spikeController", 
			function ($scope, $locale) {
				$scope.result = null;
				$scope.recordAmount = "345";
				$scope.amount_2 = 100;
				$scope.valueToSet = 123;
				$scope.locales = [
					{id: "en", name: "English"},
					{id: "en-us", name: "English (Unites States)"},
					{id: "en-gb", name: "English (Great Britain)"},
					{id: "it", name: "italiana"},
					{id: "it-it", name: "italiana (Italia)"},
					{id: "es", name: "Espanol"},
					{id: "es-es", name: "Espanol (Espana)"}
				];
				
				$scope.getLocale = function(id) {
					for(var i=0; i<$scope.locales.length; ++i)
						if($scope.locales[i].id == id) return $scope.locales[i];
					return null;							
				};
				
				$scope.$watch(function(scope) {return scope.selectedLocaleId}, function(newValue, oldValue) {
					
					if(newValue !== oldValue)
					{
						$scope.locale = $scope.getLocale(newValue);
						$scope.locale.decimalSeparator = $locale.NUMBER_FORMATS.DECIMAL_SEP;
					}
						
				});		
				
				$scope.init = function(){
				
					$scope.locale = $scope.getLocale("en-us"); // default, like in the HTML script inclusion	
				
					var selectedLocale = JSON.parse(localStorage.getItem('locale'));
					$scope.result = "selectedLocale: " + selectedLocale;
					if(selectedLocale)
						$scope.locale = $scope.getLocale(selectedLocale);
				}
				
				$scope.init();
				
				
				var sentCount = 0;
				$scope.sendForm = function () {
					sentCount++;
					$scope.result = $scope.recordAmount;
					//$scope.result = 
				};

				$scope.resetForm = function () {
					$scope.recordAmount = 0;
					$scope.result = null;
				};
				
				$scope.setValue = function(){
					$scope.recordAmount = $scope.valueToSet;
				};
			}
		);
	</script>
	
	<script src="inputAmountField.js"></script>
	

</body>
</html>